.gradle/
/build/
/bin/

/com/
/net/
/dec/
/catnip_src/
cfr.jar

.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/
.vscode/

.project
.classpath
.settings/
.metadata/

/run/
/runs/

*.log
logs/

.DS_Store
Thumbs.db
Desktop.ini